{:blocks (
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "66cf5116-67bb-4aed-ae48-75a07ed60f82"}
:block/parent 
{:block/uuid #uuid "66cf5116-67bb-4aed-ae48-75a07ed60f82"}
:block/uuid #uuid "66cf519f-1f48-4985-ba54-72750da54d5f"} 
{:block/created-at 1724862879889
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "66cf519f-1f48-4985-ba54-72750da54d5f"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "691ad450-655b-11ef-a9a8-5b596035c174"
:noFill false
:point [-744 -1152]
:parentId "66cf5116-67bb-4aed-ae48-75a07ed60f82"
:collapsedHeight 0
:nonce 1724862875159}}
:block/updated-at 1724862879889})
:pages (
{:block/uuid #uuid "66cf5116-67bb-4aed-ae48-75a07ed60f82"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "66cf5116-67bb-4aed-ae48-75a07ed60f82"
:name "proj: platform strategy"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("691ad450-655b-11ef-a9a8-5b596035c174")}}
:block/updated-at 1724862879889
:block/created-at 1724862742952
:block/type "whiteboard"
:block/name "proj: platform strategy"
:block/original-name "proj: platform strategy"})}